body {
  font-family: serif;
}

#header {
  background-color: grey;
  /*-width: 1200px;*/
  height: 90px;
	/*background: url(../imagenes/cabecera.jpg);*/
	background-repeat: repeat;
}

#logo {
  float: left;
  padding: 25px 0 0 20px;
	text-decoration: none;
  /*background-image: url(logo.png);*/
}

#barra {
	float: right;
}

#barra ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 30px;
}
	
#barra ul li {
  display: inline-block;
  line-height: 80px;
}

#barra ul li a {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  font-family: serif;
  font-size: 1.5em;
  font-style: italic;
}

#barra ul li a:hover {
  background: #0b76a6;
  height: 90px;
}

#bhinicio{
  width:100%
}

.seccion{
  text-align: center;
  font-size: 1.5em;
  color: #2A0A22;
}

.content-box {
  height: 250px;
  width: 300px;
  overflow: hidden;
  padding: 20px;
  background-color: #d8ecf7;
  border: 1px solid #afcde3;
  text-align: center;
  /*margin: 0 0 25px;*/
  margin-left: 40%;
  position: absolute;
}

#form {
  width: auto;
  /*text-align: center;*/
}

#titulo {
  font-size: 30px;
}

hr {
  width: 30%;
  background-color: black;
}

.boton2, .boton1{	
  margin: 28px 20px;
  background-color:#EBEBEB;
  text-align: center;
  width:75px;
  height:28px;
  color: grey;
}

#enlace-registro {
  font-size: 0.9em;
}
