
img{
  width: 100%;
}

header{
  padding-bottom: 1px;
  background-color:#2C3E50;

}

div#reservas{
  background-color: white;
}

div.deportes{
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap:wrap;
}

div.deportes > div{
  height:350px;
  width:350px;
  background-size: cover;
  margin: 10px;
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap:wrap;
}


div.contactos{
  display:flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap:wrap;
}

div.contactos > div{
  height:500px;
  width:500px;
  background-size: cover;
  margin: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  flex-wrap:wrap;
  background-color: #EBEDEF;
}

.pache{
  font-weight: bold;
}

div#baloncesto{
  background-image: url("../img/baloncesto.jpg");
}
div#padel{
  background-image: url("../img/padel.jpg");
}
div#squash{
  background-image: url("../img/squash.jpg");
}
div#pingpong{
  background-image: url("../img/pingpong.jpg");
}
div#futbol{
  background-image: url("../img/futbol.jpg");
}
div#tenis{
  background-image: url("../img/tenis.jpg");
}

div.info{
  justify-content:center;
  align-items:center;
  height:350px;
  width:350px;
  background: #2C3E50;
  color: white;
  font-size:50px;
  text-align:center;
  visibility:hidden;
  filter:opacity(0.8);
}


div#baloncesto:hover div.info{
  visibility:visible;
}
div#padel:hover div.info{
  visibility:visible;
}
div#squash:hover div.info{
  visibility:visible;
}
div#pingpong:hover div.info{
  visibility:visible;
}
div#futbol:hover div.info{
  visibility:visible;
}
div#tenis:hover div.info{
  visibility:visible;
}


div#final ul li{

  display: inline;
  list-style: none;
}

div#final ul li a{

  font-size:30px;
  text-align: center;
}

.fa-facebook-official{
  background: #3b5999;
  padding-right: 6px;
  padding-left: 6px;

  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fa-twitter{

  background: #55acee;

  padding-right: 4px;
  padding-left: 4px;
  
  padding-top: 2px;
  padding-bottom: 2px;

}

.fa-instagram{
  background: #e4405f;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

div#final p{
  font-family:cursive;
  padding-left:38px;

}

footer{
  background:#2C3E50;
  position:fixed;
  left:0px;
  bottom:0px;
}

