header {
  padding-bottom: 1px;
  background-color:#2C3E50;
}

/*.content-box {
  height: 300px;
  width: 300px;
  overflow: hidden;
  padding: 20px;
  background-color: #d8ecf7;
  border: 1px solid #afcde3;
  text-align: center;
  margin-top: 100px;
  margin-left: 43%;
}*/

div#formulario{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  flex-wrap:wrap;
  margin-top: 100px;
}

div#logo{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  flex-wrap:wrap;
  background: #42678C;
  height:80px;
  width:350px;
}

div#form {
  height:350px;
  width:350px;
  background: #42678C;
  color: white;
  text-align:center;
}

hr {
  width: 100%;
  background-color: black;
}

.boton2, .boton1{ 
  margin: 28px 20px;
  background-color:#EBEBEB;
  text-align: center;
  width:75px;
  height:28px;
  color: #666666;
}

footer {
	margin-top: 300px;
}
