header {
  padding-bottom: 1px;
  background-color:#2C3E50;
}

div#formulario{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  flex-wrap:wrap;
  margin: 50px;
}

div#logo{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  flex-wrap:wrap;
  background: #2C3E50;
  height:80px;
  width:350px;
}
div#form {
  height:280px;
  width:350px;
  background: #2C3E50;
  color: white;
  text-align:center;
}
