<!doctype html>

<html lang="en">
  
  <head>
    <title>Proyecto</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./views/pagina_web/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="./views/pagina_web/css/estilo.css">
    <link rel="stylesheet" href="./views/pagina_web/css/login.css">
  </head>
  
  <body>
  
    <header>
      <nav class="navbar navbar-expand-md navbar-dark navbar-toggler-sm pt-3 pb-3" >
               
        <div class="navbar-header">
          <a class="navbar-brand" href="index"> BH-RESERVAS </a>     
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="navbar-nav text-center">
            <a class="nav-item nav-link" href="index"> Reserva tu cancha</a>
            <a class="nav-item nav-link" href="contacto"> Contacto</a>
          </div>
        </div>

      </nav>
    </header>

    <div id="formulario">

      <div id="logo">
        <div>
          <a title="Volver a inicio" href="index"><img src="./views/pagina_web/img/logo.png" alt="Volver a inicio"></img></a>
        </div>
      </div>

      <div id="form">
        <hr>
        <h2>Registrar</h2>
        <hr>

        <form method="post" action="registrar">

          <input class="input" type="number" name="username" placeholder="Número de socio" required="required" autofocus="autofocus" autocomplete="on">
          <input class="input" type="text" name="password" placeholder="DNI" pattern="[0-8]{8}" required="required" autocomplete=”on”>
          <hr>
          <input class="boton1" type="reset" value="Limpiar">
          <input class="boton2" type="submit" value="Enviar">
          <hr>
          <a href="/">Volver a página de inicio</a> 
              
        </form>
      </div>

    </div>

    <!--class="container-fluid bg-dark pt-3 pb-3 text-white text-center">-->
    <footer class="container-fluid pt-3 pb-3 text-white text-center">
      <div id="final">

        <ul>
          <li><a><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>

        <p> <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017</p>
        <p> All rights reserved. Powered by the Grupo STW</p>
      </div>

    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="./views/pagina_web/js/bootstrap.min.js" ></script>
  </body>

</html>
