<!doctype html>

<html lang="en">
  
  <head>
    <title>Proyecto</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./views/pagina_web/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./views/pagina_web/css/estilo.css">
  </head>
  

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark navbar-toggler-sm pt-3 pb-3" >
             
            <div class="navbar-header">
            <a class="navbar-brand" href="/"> BH-RESERVAS </a>     
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav text-center">
                <a class="nav-item nav-link" href="login.html"> Iniciar Sesión</a>
                <a class="nav-item nav-link" href="contacto.html"> Contacto</a>
                <a class="nav-item nav-link" href="index.html"> Reserva tu cancha</a>
            </div>
            </div>

      </nav>
    </header>
    <div class="frames">
      <div>
        <h2>Tenis</h2>
        <img src="./views/pagina_web/img/pista.jpg" alt="Pistas de Tenis"></img>
      </div>
    </div>
    <div class="frames">
      <iframe src="https://secure.webreserv.eu/services/bookonline.do?businessid=1515336137704&embedded=y&search=n&list=n" width="800" height="600" frameborder="0"><a href="https://secure.webreserv.eu/services/bookonline.do?businessid=1515336137704&embedded=y&search=n&list=n">Reservar</a></iframe>
  	</div>

    <footer class="container-fluid pt-3 pb-3 text-white text-center">
      <div id="final">
        <ul>
          <li><a href="https://www.facebook.com/CAXIIENERO/" ><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/CDAXII/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCYEb-o_TxTuOjcQIYQwRtUg/videos"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        </ul>
        <p> <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017</p>
        <p> All rights reserved. Powered by the Grupo Stw</p>
      </div>
    </footer>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="./views/pagina_web/js/bootstrap.min.js" ></script>
  </body>

</html>

